<h1> Create Short URL </h1>

<% if @url.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@url.errors.count, "error") %> prohibited
        this url from being generated:
      </h2>
      <ul>
        <% @url.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% flash.each do |key, value| %>
  	<div class="alert alert-<%= key %>"><%= value %></div>
 <%end%>


<%= form_for @url, url: '/get_short_url',method: :post do |form| %>
<p>
    <%= form.label :long_url %><br>
    <%= form.text_field :long_url %>
</p>
 
<p>
   <%= form.submit "Create Short Url"%>
 </p>
<% end %>
<%= link_to 'Back',root_path %>



